<form action="/CreateData">
  <input type="hidden" name="id" placeholder="Enter your name" value="<%=(Editdata)?Editdata.id:"" %>" /> <br /> 

  <input type="text" name="name" placeholder="Enter your name" value="<%= (Editdata) ? Editdata.name:"" %>" /> <br />
  <br />
  <input type="text" name="surname" placeholder="Enter your Surname" value="<%= (Editdata) ?Editdata.surname:"" %>" />
  <br />
  <br />
  <input type="number" name="age" placeholder="Enter your age" value="<%= (Editdata) ? Editdata.age:"" %>" />
  <br />
  <br />
  <button type="submit">Submit</button>
</form>

<table border="1">
      <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Edit</th>
      </tr>

      <%data.map((i,index) =>{
            %>
            <tr>
                  <td>{<%=i.name %>}</td>
                  <td>{<%=i.surname %>}</td>
                  <td>{<%=i.age %>}</td>
                  <td>
                  <button>
                        <a href="/DeleteData/<%=i.id%>">Delete</a>
                  </button>
                  </td>
                    <td>
                  <button>
                        <a href="/Editdata/<%=i.id%>">Edit</a>
                  </button>
                  </td>
                  
            </tr>
      <%
      })
      %>
</table>